*{
    box-sizing:	border-box;
    background-color: #F5F3FF;
}

img{
    width:20em;
    max-width: 100%;
}

header{
    display: flex;
     flex-direction: column;
    align-items: center;
}

main{
    width: 80%;
     display: flex;
     flex-direction: column;
    align-items: center;
    margin: 0 auto;   
}

form{
    width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-bottom: 1.5%;

}

#contrasena,#usuario,#nombre,#edad{
    width: 20%;
    margin-bottom: 2%;
    border-radius: 2em;
    padding: 0.5%;
    background-color: white;
}

#links{
    display: flex;
    gap: 2em;
}

button{
    background-color: #4F46E5;
    font-size: 1.5em;
    color: white;
    border-radius: 1.5em;
    margin-bottom: 2%;
}

.eslogan{
    font-size: 1.5em;
    color: #4B5563;
}

.login{
    background-color: #4F46E5;
    color: #FFFFFF;
    font-size: 1em;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 1em;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
  







