* {
    box-sizing: border-box;
    background-color:  #DDD6FE;

}

.barra-leccion{
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    margin: 0 auto;
    
}

.barra-leccion a{
    text-decoration: none;
    color: #1F2937;
    font-size: 3em;
}

.barra-leccion progress{
    flex: 1;
    height: 1em;
    accent-color: #4F46E5;
}

.barra-leccion p{
    margin: 0;
}

button{
    color: white;
    background-color: #4F46E5;
    border-radius: 1em;
    font-size: 1em;
    padding: 0 0.5em;
}
.boton-comprobar,.boton-volver{
     text-decoration:none;
    color: white;
    background-color: #4F46E5;
    border-radius: 1em;
    font-size: 1.5em;
    padding: 0 0.5em;
}

main {
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 2em;
}

p{
    font-size: 1.5em;
}
/* Tablet (48.01em a 64em) */
@media (min-width: 48.01em) and (max-width: 64em) {
  .barra-leccion {
    width: 95%; 
    gap: 0.8em;
  }

  .barra-leccion a {
    font-size: 2.5em; 
  }
}

/* Celular (hasta 48em) */
@media screen and (max-width: 48em) {
  .barra-leccion {
    width: 95%;
    padding: 0.5em;
    gap: 0.5em; 
  }

  .barra-leccion a {
    font-size: 2em; 
  }

  .barra-leccion progress {
    height: 0.8em; 
  }

  p {
    font-size: 1.2em; 
  }

  .boton-comprobar, .boton-volver {
    font-size: 1.2em;
    padding: 0.4em 1em; 
    display: inline-block;
  }

  footer {
    margin-top: 1.5em;
  }
}

